h2[id], h3[id], h4[id] {
  border-bottom: solid 1px;
}

h1 + h2, h1 + h3, h1 + h4, h2 + h3, h2 + h4, h3 + h4 {
  border-bottom: none;
}

p {
  margin-bottom: 0.7em;
}

p + p {
  margin-top: 0em;
  text-indent: 0em;
}
